body {
  background-image: url("./image/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Maven Pro", sans-serif;
}

.home_container {
  text-align: center;
  margin-top: 2rem;
}
