/* SearchBar */

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  width: 20rem;
}

.search-bar-input {
  border: none;
  border-radius: 20px;
  width: 15rem;
}

.search-bar-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 1rem;
}
