.character-details {
  display: flex;
  align-items: center;
  padding: 20px;
  height: auto;
  box-sizing: border-box;
}
h2 {
  color: #fff;
}
.character-info img {
  max-width: 100%;
  width: 300px;
}

@media (max-width: 768px) {
  .character-info {
    flex-direction: column;
    align-items: center;
  }

  .character-info img {
    max-width: 100%;
    width: 300px;
  }
  .character-info {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .character-info p {
    max-width: 600px;
    line-height: 1.6;
  }
}

.background-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}
