/* SearchBar.css */
.search-bar {
  position: relative;
  width: auto;
}
.search-bar input {
  border: none;
  border-radius: 10px;
  width: 300px;
}

.suggestion-list img {
  width: 50px;
  height: auto;
  margin-right: 10px;
  border-radius: 4px;
}
@media screen and (max-width: 500px) {
  .search-bar input {
    width: 15rem;
    padding: 18px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
  }
}
